{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book details</h1>
        {% if book %}
            <ul>
                <li>Title: {{ book.title }}</li>
                <li>Autor: {{ book.author }}</li>
                <li>Year: {{ book.anyo}}</li>
            </ul>
        {% endif %}
        {% if data %}
            {% for info in data["books"] %}
                <ul>
                    <li>ISBN: {{info["isbn"]}}</li>
                    <li>Total Ratings: {{ info["work_ratings_count"] }}</li>
                    <li>Average Rating: {{ info["average_rating"]}}</li>
                </ul>
            {% endfor %}
        {% endif %}
        <h2> Your rating </h2>
        <form action="{{ url_for('review') }}" method="post"> 
            <div class="container">
            <br>
                <form action="" method="post">
                <input type="submit" name="button" value="review">
                <input type="submit" name="logout" value="logout">
                </form>
            </div>    
        </form>
{% endblock %}
