{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Please Login</h1>
    <form action="{{ url_for('index') }}" method="post">
        <div class="container">
        <br>
            <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
                request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{
                request.form.password }}">
            <input type="submit" name="sub_button" value="Login">
            <input type="submit" name="sub_button" value="Register">
            </form>
                {% if message %}
                    <p class="message"><strong>{{ message}}</strong>
                {% endif %}
        </div>
    </form>
    {% if user %}
       <h3>{{user.name}}</h3>
    {% endif %}
    
{% endblock %}